src/META-INF/wsdl/localhost_8080/CarShareWS/CarShare.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.car/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.car/">

<xs:element name="getAllReservation" type="tns:getAllReservation"/>

<xs:element name="getAllReservationResponse" type="tns:getAllReservationResponse"/>

<xs:element name="getMemberReservation" type="tns:getMemberReservation"/>

<xs:element name="getMemberReservationResponse" type="tns:getMemberReservationResponse"/>

<xs:complexType name="getAllReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMemberReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>